/vendor/

.env
.env.*

*.log

/phpunit.xml.cache
coverage/
.phpunit.result.cache

docker-compose.override.yml

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

/build/
*.lock
*.bak

tests/output/